@media screen and (min-width: 800px) {
    body {
        margin: 0;
        display: grid;
                grid-template-columns: 1fr 6fr;
                grid-template-rows: 1fr 30fr 1fr;
                grid-template-areas: "myheader myheader"
                                   "mynav mymain"
                                   "mynav myfooter";
    }
}

@media screen and (min-width: 500px) and (max-width: 799px){
    body{
        margin: 0;
        display: grid;
                grid-template-columns: 1fr 6fr;
                grid-template-rows: 1fr 40fr 1fr;
                grid-template-areas: "myheader myheader"
                                   "mynav mymain"
                                   "mynav myfooter";
    }
    }

@media screen and (max-width: 499px) {
    body {
        margin: 0;
        display: grid;
                grid-template-columns: 1fr 6fr;
                grid-template-rows: 1fr 50fr 1fr;
                grid-template-areas: "myheader myheader"
                                    "mynav mymain"
                                    "mynav myfooter";
    }
}

header {
    padding: 5px;
    grid-area: myheader;
}

nav {
    padding: 5px;
    grid-area: mynav;
}

main {
    grid-area: mymain;
}

aside {
    padding: 5px;
    position: absolute;
    width: 10%;
    min-width: 85px;
    right: 0;
}

footer {
    padding: 5px;
    grid-area: myfooter;
}