@media (max-width: 800px) {
    aside{
        opacity: 0;
    }
    .mainContent{
        margin-right: 0;
    }
}
@media (min-width: 801px) {
    .mainContent{
        margin-right: 200px;
    }
}

.surr_block{
    margin: 15px;
}

.home header {
    padding: 5px;
    grid-area: myheader;
}

aside {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
}

footer {
    padding: 5px;
}

.home ul{
    padding-left: 20px;
}
