@media screen and (min-width: 800px) {
    body{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr 30fr 1fr;
        grid-template-areas: "myheader myheader"
                             "mynav mymain"
                             "mynav myfooter";
    }
}

@media screen and (min-width: 500px) and (max-width: 800px){
    body{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr 40fr 1fr;
        grid-template-areas: "myheader myheader"
                             "mynav mymain"
                             "mynav myfooter";
    }
}

@media screen and (max-width: 500px) {
    body{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr 50fr 1fr;
        grid-template-areas: "myheader myheader"
                             "mynav mymain"
                             "mynav myfooter";
    }
}

/*#landingPageMain {
    margin: 20px;
}*/

header {
    padding: 5px;
    grid-area: myheader;
}

nav {
    padding: 5px;
    grid-area: mynav;
}

main {
    grid-area: mymain;
}

aside {
    padding: 5px;
    position: absolute;
    width: 10%;
    min-width: 85px;
    right: 0;
}

footer {
    padding: 5px;
    grid-area: myfooter;
}

.surr_block{
    float: left;
    height: 100%;
}

@media screen and (min-width: 810px) {
    .surr_block{
        width: 85%;
    }
}

@media screen and (min-width: 600px) and (max-width: 810px) {
    .surr_block{
        width: 80%;
    }
}

@media screen and (min-width: 495px) and (max-width: 600px) {
    .surr_block{
        width: 70%;
    }
}

@media screen and (min-width: 450px) and (max-width: 495px) {
    .surr_block{
        width: 65%;
    }
}

@media screen and (max-width: 450px) {
    .surr_block{
            width: 100%;
        }
    aside{
        visibility: hidden;
    }
}


ul{
    padding-left: 20px;
}