#loginForm{
    border: 1px solid;
    border-radius: 30px;
    padding: 1rem;
    max-width: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}
#loginSubmit{
    grid-column: span 2;
    border-radius: 20px;
}
/* defining colors used */
:root {
    --nav-color: #3a3b3c;
    --nav-hovering-color: indianred;
}

/* defining colors used for hyperlinks */
a:link, a:visited, a:active {
    color: var(--nav-color);
}
a:hover {
    color: var(--nav-hovering-color);
}

.mainContent{
    text-align: center;
    padding-top: 20px;
    color: var(--text-color)
}

.login{
    margin: auto;
}