#loginForm{
    border: 1px solid;
    border-radius: 30px;
    padding: 1rem;
    max-width: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}
#loginSubmit{
    grid-column: span 2;
    border-radius: 20px;
}

.middle{
    text-align: center;
    padding-top: 20px;
}

.login{
    margin: auto;
}