extends layout
block content
    aside
        h3 N&auml;chstes Modul:
        ul#module_list.aside_list
            li Modul1
            li Modul2
            li Modul3
        h3 N&auml;chste Pr&uuml;fung:
        ul#exams_list.aside_list
            li Pr&uuml;fung1
            li Pr&uuml;fung2
            li Pr&uuml;fung3
        h3 Weitere Infos:
        ul#infos_list.aside_list
            li Info1
            li Info2
            li Info3
    | main
