doctype html
head
    block head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/common-styles.css')
        link(rel='stylesheet', href='/css/sidebar-nav-style.css')
        link(href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css', rel='stylesheet')
nav.sidebar
    header
        .menu-header
            span.image
                img(src='/images/logo.png', alt='logo')
            .text.header-text
                span.name Module-Plan
        i.bx.bx-chevron-right.toggle
    .menu-bar
        .menu
            ul.menu-links
                li.search-box
                    i.bx.bx-search.icon
                    input(type='search', placeholder='Search...')
                li.nav-link
                    a(href='/')
                        i.bx.bx-home.icon
                        span.text.nav-text Home
                li.nav-link
                    a(href='/calendar')
                        i.bx.bx-calendar.icon
                        span.text.nav-text Calendar
                li.nav-link
                    a(href='/modules')
                        i.bx.bxs-graduation.icon
                        span.text.nav-text Modules
        .bottom-menu
            ul.menu-links
                li
                    a(href='/logout')
                        i.bx.bx-log-out.icon
                        span.text.nav-text Logout
                li.mode
                    .light-dark
                        i.bx.bx-moon.icon.sun
                        i.bx.bx-sun.icon.moon
                    span.mode-text.text Dark Mode
                    .toggle-switch
                        span.switch
section.home
    block content
        // Content goes here
        .text Dashboard
script(src='/scripts/navbar.js')
