<nav>
    <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="../calendar/calendar.html">Kalender</a></li>
        <li><a href="./">Module:</a>
            <ul>
                <li><a href="mathe.html">Mathe</a></li>
                <li><a href="theoretischeInformatik.html">Theoretische Informatik</a></li>
                <li><a href="programmieren.html">Programmieren</a></li>
                <li><a href="bwl.html">BWL</a></li>
                <li><a href="webEngineering.html">Web Engineering</a></li>
                <li><a href="elektrotechnik.html">Elektrotechnik</a></li>
            </ul>
        </li>
    </ul>
</nav>