<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Modul-BWL und Wahlunits</title>
    <link rel="stylesheet" href="../css/common-styles.css">
    <link rel="stylesheet" href="../css/modules.css">
</head>

<body>
<header>
    <h1>Betriebswirtschaftslehre (BWL) und Wahlunits</h1>
</header>
<main>
    <aside>
        <h3>Nächstes Modul:</h3>
        <ul class="aside_list" id="module_list">
            <li>Modul1</li>
            <li>Modul2</li>
            <li>Modul3</li>
        </ul>
        <h3>Nächste Prüfung:</h3>
        <ul class="aside_list" id="exams_list">
            <li>Prüfung1</li>
            <li>Prüfung2</li>
            <li>Prüfung3</li>
        </ul>
        <h3>Weitere Infos:</h3>
        <ul class="aside_list" id="infos_list">
            <li>Info1</li>
            <li>Info2</li>
            <li>Info3</li>
        </ul>
    </aside>
    <div class="surr_block">
        <div class="small_block">
            <center><h4>Formale Angaben zum Modul</h4></center>
            <hr>
            <ul>
                <li><u>Modulnummer:</u><br>T3INF1005</li>
                <li><u>Verortung im Studienverlauf:</u><br>1. Studienjahr</li>
                <li><u>Moduldauer (Semester):</u><br>2</li>
                <li><u>Modulverantwortung:</u><br>Prof. Dr. Jürgen Vollmer</li>
                <li><u>Sprache:</u><br>Deutsch/Englisch</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Lehrformen</h4></center>
            <hr>
            <ul>
                <li><u>Lehrformen:</u><br>Vorlesung, Übung</li>
                <li><u>Lehrmethoden:</u><br>Lehrvortrag, Diskussion, Gruppenarbeit, Projekt</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Prüfungsformen</h4></center>
            <hr>
            <ul>
                <li><u>Prüfungsleistung:</u><br>Kombinierte Prüfung - Klausurarbeit (< 50 %) </li>
                <li><u>Prüfungsumfang (in Minuten):</u><br>Siehe Prüfungsordnung</li>
                <li><u>Benotung:</u><br>ja</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Workload und ECTS-Leistungspunkte</h4></center>
            <hr>
            <ul>
                <li><u>Workload insgesamt (in h):</u><br>150</li>
                <li><u>Davon Präsenzzeit (in h):</u><br>84</li>
                <li><u>Davon Selbststudium (in h):</u><br>66</li>
                <li><u>ECTS-Leistungspunkte:</u><br>5</li>
            </ul>
        </div>
        <div class="middle_block" id="img_container_bwl1"></div>
        <div class="big_block">
            <center><h4>Qualifikationsziele und Kompetenzen</h4></center>
            <hr>
            <ul>
                <li><u>Fachkompetenz:</u><br>Die Studierenden haben Grundkenntnisse der Wirtschaftswissenschaften erworben und können ihre fachlichen Aufgaben im betrieblichen Kontext einordnen.</li>
                <li><u>Methodenkompetenz:</u><br>Die Studierenden haben ökonomische, interkulturelle und arbeitswissenschaftliche Grundkompetenzen für Beruf und Studium erworben.</li>
                <li><u>Personale und soziale Kompetenz:</u><br>Die Studierenden können ihre Standpunkte in einem (ggf. interdisziplinär und interkulturell zusammengesetzten) Team vertreten und respektieren andere
                    Sichtweisen. Sie können sich selbst und ihre Projekte organisieren und mit Kritik und Konflikten angemessen umgehen.</li>
                <li><u>Übergreifende Handlungskompetenz:</u><br>Über die Sachkompetenz hinaus soll das Denken in fachübergreifenden Zusammenhängen geschult werden, sowie strategische Handlungskompetenz und
                    unternehmerisches Denken vermittelt werden.</li>
            </ul>
        </div>
        <div class="big_block">
            <center><h4>Lerneinheiten und Inhalte</h4></center>
            <hr>
            <ul>
                <li><u>Lehr- und Lerneinheiten:</u><br>Betriebswirtschaftslehre</li>
                <li><u>Präsenzzeit:</u><br>36</li>
                <li><u>Selbststudium:</u><br>28</li>
                <li><u>Inhalte:</u><br>
                    - Einführung in die theoretischen Ansätze und Methoden in der Betriebswirtschaftslehre <br>
                    - Ziele und Planung in der Betriebswirtschaftslehre <br>
                    - Führungsstile und konzepte <br>
                    - Rechtsformen <br>
                    - Bilanzen <br>
                    - Gewinn- und Verlustrechnung <br>
                    - Kostenrechnung <br>
                    - Finanzierung und Investition <br>
                    - Ganzheitliches Unternehmensplanspiel
                </li>
            </ul>
        </div>
        <div class="middle_block" id="img_container_bwl2"></div>
        <div class="small_block">
            <center><h4>Lerneinheiten und Inhalte</h4></center>
            <hr>
            <ul>
                <li><u>Lehr- und Lerneinheiten:</u><br>Weitere Wahlunits</li>
                <li><u>Präsenzzeit:</u><br>je 24</li>
                <li><u>Selbststudium:</u><br>je 19</li>
                <li><u>Inhalte:</u><br>
                    <a href="https://www.dhbw.de/fileadmin/user/public/SP/FN/Informatik/Informatik.pdf">Genauere Informationen zu weiteren Wahlunits auf Seite 13</a>
                </li>
            </ul>
        </div>
        <div class="big_block">
            <center><h4>Besonderheiten</h4></center>
            <hr>
            <ul>
                <li>Entweder <br>
                    - T3INF1005.0 - Schluesselqualifikationen als einzige Unit <br>
                    oder <br>
                    - T3INF1005.1 - Betriebswirtschaftlehre Pflicht und 2 weitere Units zur Wahl</li>
                <li>Weitere Units: <br>
                    T3INF1005.2 - Fremdsprachen 1 <br>
                    T3INF1005.3 - Vortrags-, Lern- und Arbeitstechniken <br>
                    T3INF1005.4 - Marketing 1 <br>
                    T3INF1005.5 - Marketing 2 <br>
                    T3INF1005.7 - Intercultural Communication 1 <br>
                    T3INF1005.8 - Intercultural Communication 2 <br>
                    T3INF1005.9 - Fremdsprachen 2 <br>
                    T3INF4103.1 - Projektmanagement 1 <br>
                    T3INF4103.2 - Projektmanagement 2 <br>
                    T3INF4116.1 - Einführung in technisch-wissenschaftliches Arbeiten</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Vorraussetzungen</h4></center>
            <hr>
            <b> --- </b>
        </div>
        <div class="middle_block" id="img_container_bwl3"></div>
        <div class="big_block">
            <center><h4>Literatur</h4></center>
            <hr>
            <ul>
                <li>Davis, M.: Scientific Papers and Presentations, Boston, London, San Diego </li>
                <li>Eberhard, K.: Einführung in die Erkenntnis- und Wissenschaftstheorie, Stuttgart </li>
                <li>Heydasch, T., Renner, K.-H.: Einführung in das wissenschaftliche Arbeiten; Fakultät für Kultur- und Sozialwissenschaften; FernUniversität Hagen, Hagen </li>
                <li>H. W. Wieczorrek, P. Mertens: Management von IT Projekten, Springer </li>
                <li>G. K. Kapur: Project Management for Information, Technology, Business and Certification, Prentice Hall </li>
                <li>P. Mangold: IT-Projektmanagement kompakt, Spektrum Akademischer Verlag </li>
                <li>H. W. Wieczorrek, P. Mertens: Management von IT Projekten, Springer </li>
                <li>G. K. Kapur: Project Management for Information, Technology, Business and Certification, Prentice Hall </li>
                <li>P. Mangold: IT Projektmanagement kompakt, Spektrum Akademischer Verlag </li>
                <li>Helmut Kohlert: Marketing für Ingenieure, Oldenbourg </li>
                <li>Marion Steven: Bwl für Ingenieure, Oldenbourg </li>
                <li>Jürgen Härdler: Betriebswirtschaftlehre für Ingenieure. Lehr- und Praxisbuch, Hanser Fachbuch </li>
                <li>Jürgen Härdler: Betriebwirtschaftlehre für Ingenieure: Lehr- und Praxisbuch, Hanser Fachbuch </li>
                <li>Marion Steven: BWL für Ingenieure, Oldenbourg </li>
                <li>Adolf J. Schwab: Managementwissen für Ingenieure: Führung, Organisation, Existenzgründung, Springer </li>
                <li>Managing Intercultural Conflict Effectively: Thousand Oaks, Sage - Roger Fisher, W. Ury und B.Patton: Getting to Yes , Penguin </li>
                <li>Robert Gibson: Intercultural Business Communication, Cornelsen und Oxford - Nancy Adler: International Dimensions of Organizational Behavior, ITP - Geert
                Hofstede, Cultures and Organizations, McGraw-Hill - Stella Ting: Toomey und John G. Oetzel
                Entsprechend der gewählten Sprache </li>
            </ul>
        </div>
    </div>
</main>
<footer>
    footer
</footer>
</body>

</html>