<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Modul-Elektrotechnik</title>
    <link rel="stylesheet" href="../css/common-styles.css">
    <link rel="stylesheet" href="../css/modules.css">
</head>

<body>
<header>
    <h1>Elektrotechnik</h1>
</header>
<main>
    <aside>
        <h3>Nächstes Modul:</h3>
        <ul class="aside_list" id="module_list">
            <li>Modul1</li>
            <li>Modul2</li>
            <li>Modul3</li>
        </ul>
        <h3>Nächste Prüfung:</h3>
        <ul class="aside_list" id="exams_list">
            <li>Prüfung1</li>
            <li>Prüfung2</li>
            <li>Prüfung3</li>
        </ul>
        <h3>Weitere Infos:</h3>
        <ul class="aside_list" id="infos_list">
            <li>Info1</li>
            <li>Info2</li>
            <li>Info3</li>
        </ul>
    </aside>
    <div class="surr_block">
        <div class="small_block">
            <center><h4>Formale Angaben zum Modul</h4></center>
            <hr>
            <ul>
                <li><u>Modulnummer:</u><br>T3INF4104</li>
                <li><u>Verortung im Studienverlauf:</u><br>1. Studienjahr</li>
                <li><u>Moduldauer (Semester):</u><br>1</li>
                <li><u>Modulverantwortung:</u><br>Prof. Dr.-Ing. Thomas Neidlinger</li>
                <li><u>Sprache:</u><br>Deutsch</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Lehrformen</h4></center>
            <hr>
            <ul>
                <li><u>Lehrformen:</u><br>Vorlesung, Übung</li>
                <li><u>Lehrmethoden:</u><br>Lehrvortrag, Diskussion</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Prüfungsformen</h4></center>
            <hr>
            <ul>
                <li><u>Prüfungsleistung:</u><br>KLausur</li>
                <li><u>Prüfungsumfang (in Minuten):</u><br>Siehe Prüfungsordnung</li>
                <li><u>Benotung:</u><br>ja</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Workload und ECTS-Leistungspunkte</h4></center>
            <hr>
            <ul>
                <li><u>Workload insgesamt (in h):</u><br>90</li>
                <li><u>Davon Präsenzzeit (in h):</u><br>48</li>
                <li><u>Davon Selbststudium (in h):</u><br>42</li>
                <li><u>ECTS-Leistungspunkte:</u><br>3</li>
            </ul>
        </div>
        <div class="middle_block" id="img_container_elektrotechnik1">
        </div>
        <div class="big_block">
            <center><h4>Qualifikationsziele und Kompetenzen</h4></center>
            <hr>
            <ul>
                <li><u>Fachkompetenz:</u><br>Die Studierenden kennen die Grundlagen elektrotechnischer Größen und deren Einheiten, sowie Eigenschaften und Anwendungsbereiche von passiven
                    Bauelementen. Sie kennen wichtige Sätze, Methoden und Berechnungsverfahren für elektrische Netzwerke in Gleich- und Wechselstromkreisen und können diese auf
                    ausgewählte Probleme anwenden, Lösungsansätze finden und die Lösungen berechnen.</li>
                <li><u>Methodenkompetenz:</u><br>Die Studierenden sind mit Abschluss des Moduls in der Lage,
                    für weitgehend standardisierte Anwendungsfälle in der Praxis
                    die angemessene Methode auszuwählen und anzuwenden.</li>
                <li><u>Personale und soziale Kompetenz:</u><br> - </li>
                <li><u>Übergreifende Handlungskompetenz:</u><br> - </li>
            </ul>
        </div>
        <div class="big_block">
            <center><h4>Lerneinheiten und Inhalte</h4></center>
            <hr>
            <ul>
                <li><u>Lehr- und Lerneinheiten:</u><br>Grundlagen der Elektrotechnik</li>
                <li><u>Präsenzzeit:</u><br>48</li>
                <li><u>Selbststudium:</u><br>42</li>
                <li><u>Inhalte:</u><br>
                    - Elektrische Größen und ihre Einheiten <br>
                    - Das elektrische Feld <br>
                    - Gleichstromkreis, Zweipole <br>
                    - Lineare Netzwerke und Berechungsmethoden <br>
                    - Periodische und zeitabhängige Größen <br>
                    - Das magnetische Feld <br>
                    - Sprung- und Impulsantworten passiver Bauelemente <br>
                    - Wechselstromkreis
                </li>
            </ul>
        </div>
        <div class="big_block" id="img_container_elektrotechnik2"><br> <br> <br> <br> <br> <br>
        </div>
        <div class="small_block">
            <center><h4>Besonderheiten</h4></center>
            <hr>
            <b> --- </b>
        </div>
        <div class="small_block">
            <center><h4>Vorraussetzungen</h4></center>
            <hr>
            <b> --- </b>
        </div>
        <div class="small_block">
            <center><h4>Literatur</h4></center>
            <hr>
            <ul>
                <li>Grundgebiete der Elektrotechnik 1, A. Führer, K. Heidemann, W. Nerreter, Hanser</li>
                <li> Grundgebiete der Elektrotechnik 2, A. Führer, K. Heidemann, W. Nerreter, Hanser</li>
                <li>Theoretische Elektrotechnik, A. Reibiger, W. Mathis, K. Küpfmüller, Springer Vieweg</li>
            </ul>
        </div>
    </div>
</main>
<footer>
    footer
</footer>
</body>

</html>