<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Modul-Mathe</title>
    <link rel="stylesheet" href="../css/common-style.css">
    <link rel="stylesheet" href="../css/modules.css">
</head>

<body>
<header>
    <h1>Mathe</h1>
</header>
<nav>
    <ul>
        <li><a href="../index.html">Startseite</a></li>
        <li><a href="../calendar/calendar.html">Kalender</a></li>
        <li><a href="../../../index.html">Module:</a>
            <ul>
                <li><a href="mathe.html">Mathe</a></li>
                <li><a href="theoretischeInformatik.html">Theoretische Informatik</a></li>
                <li><a href="programmieren.html">Programmieren</a></li>
                <li><a href="bwl.html">BWL</a></li>
                <li><a href="webEngineering.html">Web Engineering</a></li>
                <li><a href="elektrotechnik.html">Elektrotechnik</a></li>
            </ul>
        </li>
    </ul>
</nav>
<main>
    <aside>
        <h3>Nächstes Modul:</h3>
        <ul class="aside_list" id="module_list">
            <li>Modul1</li>
            <li>Modul2</li>
            <li>Modul3</li>
        </ul>
        <h3>Nächste Prüfung:</h3>
        <ul class="aside_list" id="exams_list">
            <li>Prüfung1</li>
            <li>Prüfung2</li>
            <li>Prüfung3</li>
        </ul>
        <h3>Weitere Infos:</h3>
        <ul class="aside_list" id="infos_list">
            <li>Info1</li>
            <li>Info2</li>
            <li>Info3</li>
        </ul>
    </aside>
    <div class="surr_block">
        <div class="small_block">
            <center><h4>Formale Angaben zum Modul</h4></center>
            <hr>
            <ul>
                <li><u>Modulnummer:</u><br>T3INF1001</li>
                <li><u>Verortung im Studienverlauf:</u><br>1. Studienjahr</li>
                <li><u>Moduldauer (Semester):</u><br>2</li>
                <li><u>Modulverantwortung:</u><br>Prof. Dr. Reinhold Hübl</li>
                <li><u>Sprache:</u><br>Deutsch</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Lehrformen</h4></center>
            <hr>
            <ul>
                <li><u>Lehrformen:</u><br>Vorlesung, Übung</li>
                <li><u>Lehrmethoden:</u><br>Lehrvortrag, Diskussion</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Prüfungsformen</h4></center>
            <hr>
            <ul>
                <li><u>Prüfungsleistung:</u><br>KLausurarbeit(x2)</li>
                <li><u>Prüfungsumfang (in Minuten):</u><br>Siehe Prüfungsordnung(x2)</li>
                <li><u>Benotung:</u><br>ja(x2)</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Workload und ECTS-Leistungspunkte</h4></center>
            <hr>
            <ul>
                <li><u>Workload insgesamt (in h):</u><br>240</li>
                <li><u>Davon Präsenzzeit (in h):</u><br>96</li>
                <li><u>Davon Selbststudium (in h):</u><br>144</li>
                <li><u>ECTS-Leistungspunkte:</u><br>8</li>
            </ul>
        </div>
        <div class="middle_block" id="img_container_mathe1">
        </div>
        <div class="big_block">
            <center><h4>Qualifikationsziele und Kompetenzen</h4></center>
            <hr>
            <ul>
                <li><u>Fachkompetenz:</u><br>Mit Abschluss des Moduls haben die Studierenden die Fähigkeit zu mathematischem Denken und Argumentieren entwickelt. Sie verfügen über ein Grundverständnis
                    der diskreten Mathematik, der linearen Algebra und der Analysis einer reellen Veränderlichen. Sie sind in der Lage, diese Kenntnisse auf Probleme aus dem Bereich
                    der Ingenieurwissenschaften und Informatik anzuwenden.
                </li>
                <li><u>Methodenkompetenz:</u><br>Mathematik fördert logisches Denken, klare Strukturierung, kreative explorierende Verhaltensweisen und Durchhaltevermögen.</li>
                <li><u>Personale und soziale Kompetenz:</u><br> - </li>
                <li><u>Übergreifende Handlungskompetenz:</u><br>Die Studierenden sind in der Lage, naturwissenschaftlich-technische Vorgänge mit Hilfe der diskreten Mathematik, der linearen Algebra und der Analysis zu
                    beschreiben. Sie beginnen, Algorithmen der numerischen Mathematik zu nutzen und diese in lauffähige Programme umzusetzen.
                </li>
            </ul>
        </div>
        <div class="middle_block">
            <center><h4>Lerneinheiten und Inhalte</h4></center>
            <hr>
            <ul>
                <li><u>Lehr- und Lerneinheiten:</u><br>Lineare Algebra</li>
                <li><u>Präsenzzeit:</u><br>48</li>
                <li><u>Selbststudium:</u><br>72</li>
                <li><u>Inhalte:</u><br>
                    - Grundlagen der diskreten Mathematik - Grundlegende algebraische Strukturen - Vektorräume
                    und lineare Abbildungen - Determinanten, Eigenwerte, Diagonalisierbarkeit -
                    Anwendungsbeispiele.
                </li>
            </ul>
        </div>
        <div class="small_block" id="img_container_mathe2"></div>
        <div class="middle_block">
            <center><h4>Lerneinheiten und Inhalte</h4></center>
            <hr>
            <ul>
                <li><u>Lehr- und Lerneinheiten:</u><br>Analysis</li>
                <li><u>Präsenzzeit:</u><br>48</li>
                <li><u>Selbststudium:</u><br>72</li>
                <li><u>Inhalte:</u><br>
                    - Folgen und Reihen, Stetigkeit - Differentialrechnung einer Veränderlichen im Reellen -
                    Integralrechnung einer Veränderlichen im Reellen - Anwendungsbeispiele
                </li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Besonderheiten</h4></center>
            <hr>
            <ul>
                <li>Dieses Modul beinhaltet zusätzlich bis zu 24h begleitetes Selbststudium in Form von Übungsstunden, Laboren oder Projekten. Hierbei werden Übungsaufgaben
                    und/oder vertiefende Aufgabenstellungen von den Studierenden bearbeitet.</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Vorraussetzungen</h4></center>
            <hr>
            <b> --- </b>
        </div>
        <div class="middle_block">
            <center><h4>Literatur</h4></center>
            <hr>
            <ul>
                <li>Beutelspacher: Lineare Algebra, Vieweg+Teubner - Fischer: Lineare Algebra, Vieweg+Teubner - Hartmann: Mathematik für Informatiker, Vieweg+Teubner - Lau:
                    Algebra und Diskrete Mathematik 1, Springer - Teschl, Teschl: Mathematik für Informatiker: Band 1. diskrete Mathematik und lineare Algebra, Springer - Kreußler,
                    Pfister: Mathematik für Informatiker: Algebra, Analysis, Diskrete Strukturen, Springer</li>
                <li>Estep: Angewandte Analysis in einer Unbekannten, Springer - Hartmann: Mathematik für Informatiker, Vieweg+Teubner - Hildebrandt: Analysis 1, Springer - Teschl,
                    Teschl: Mathematik für Informatiker: Band 2. Analysis und Statistik, Springer
                </li>
            </ul>
        </div>
    </div>
</main>
<footer>
    footer
</footer>
</body>

</html>