<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Modul-Programmieren</title>
    <link rel="stylesheet" href="../css/common-styles.css">
    <link rel="stylesheet" href="../css/modules.css">
</head>

<body>
<header>
    <h1>Programmieren</h1>
</header>
<main>
    <aside>
        <h3>Nächstes Modul:</h3>
        <ul class="aside_list" id="module_list">
            <li>Modul1</li>
            <li>Modul2</li>
            <li>Modul3</li>
        </ul>
        <h3>Nächste Prüfung:</h3>
        <ul class="aside_list" id="exams_list">
            <li>Prüfung1</li>
            <li>Prüfung2</li>
            <li>Prüfung3</li>
        </ul>
        <h3>Weitere Infos:</h3>
        <ul class="aside_list" id="infos_list">
            <li>Info1</li>
            <li>Info2</li>
            <li>Info3</li>
        </ul>
    </aside>
    <div class="surr_block">
        <div class="small_block">
            <center><h4>Formale Angaben zum Modul</h4></center>
            <hr>
            <ul>
                <li><u>Modulnummer:</u><br>T3INF1004</li>
                <li><u>Verortung im Studienverlauf:</u><br>1. Studienjahr</li>
                <li><u>Moduldauer (Semester):</u><br>2</li>
                <li><u>Modulverantwortung:</u><br>Prof. Dr. rer.nat. Alexander Auch</li>
                <li><u>Sprache:</u><br>Deutsch</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Lehrformen</h4></center>
            <hr>
            <ul>
                <li><u>Lehrformen:</u><br>Vorlesung, Übung</li>
                <li><u>Lehrmethoden:</u><br>Lehrvortrag, Diskussion, Gruppenarbeit</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Prüfungsformen</h4></center>
            <hr>
            <ul>
                <li><u>Prüfungsleistung:</u><br>Programmentwurf</li>
                <li><u>Prüfungsumfang (in Minuten):</u><br>Siehe Prüfungsordnung</li>
                <li><u>Benotung:</u><br>ja</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Workload und ECTS-Leistungspunkte</h4></center>
            <hr>
            <ul>
                <li><u>Workload insgesamt (in h):</u><br>270</li>
                <li><u>Davon Präsenzzeit (in h):</u><br>96</li>
                <li><u>Davon Selbststudium (in h):</u><br>174</li>
                <li><u>ECTS-Leistungspunkte:</u><br>9</li>
            </ul>
        </div>
        <div class="middle_block" id="img_container_programmieren1">
        </div>
        <div class="big_block">
            <center><h4>Qualifikationsziele und Kompetenzen</h4></center>
            <hr>
            <ul>
                <li><u>Fachkompetenz:</u><br>Die Studierenden kennen die Grundelemente der prozeduralen und der objektorientierten Programmierung. Sie können die Syntax und Semantik dieser Sprachen und
                    können ein Programmdesign selbstständig entwerfen, codieren und ihr Programm auf Funktionsfähigkeit testen. Sie kennen verschiedene
                    Strukturierungsmöglichkeiten und Datenstrukturen und können diese exemplarisch anwenden.</li>
                <li><u>Methodenkompetenz:</u><br>Die Studierenden sind in der Lage, einfache Programme selbständig zu erstellen und auf Funktionsfähigkeit zu testen, sowie einfache Entwurfsmuster in ihren
                    Programmentwürfen einzusetzen. Die Studierenden können eine Entwicklungsumgebung verwenden um Programme zu erstellen, zu strukturieren und auf Fehler hin
                    zu untersuchen (inkl. Debugger).</li>
                <li><u>Personale und soziale Kompetenz:</u><br>Die Studierenden können ihren Programmentwurf sowie dessen Codierung im Team erläutern und begründen. Sie können existierenden Code analysieren und
                    beurteilen. Sie können sich selbstständig in Entwicklungsumgebungen einarbeiten und diese zur Programmierung und Fehlerbehebung einsetzen.
                </li>
                <li><u>Übergreifende Handlungskompetenz:</u><br>Die Studierenden können eigenständig Problemstellungen der Praxis analysieren und zu deren Lösung Programme entwerfen, programmieren und testen.</li>
            </ul>
        </div>
        <div class="big_block">
            <center><h4>Lerneinheiten und Inhalte</h4></center>
            <hr>
            <ul>
                <li><u>Lehr- und Lerneinheiten:</u><br>Programmieren</li>
                <li><u>Präsenzzeit:</u><br>96</li>
                <li><u>Selbststudium:</u><br>174</li>
                <li><u>Inhalte:</u><br>
                    Kenntnisse in prozeduraler Programmierung: <br>
                    - Algorithmenbeschreibung <br>
                    - Datentypen <br>
                    - E/A-Operationen und Dateiverarbeitung <br>
                    - Operatoren <br>
                    - Kontrollstrukturen <br>
                    - Funktionen <br>
                    - Stringverarbeitung <br>
                    - Strukturierte Datentypen <br>
                    - dynamische Datentypen <br>
                    - Zeiger <br>
                    - Speicherverwaltung <br> <br>
                    Kenntnisse in objektorientierter Programmierung: <br>
                    - objektorientierter Programmentwurf <br>
                    - Idee und Merkmale der objektorientierten Programmierung <br>
                    - Klassenkonzept <br>
                    - Operatoren <br>
                    - Überladen von Operatoren und Methoden <br>
                    - Vererbung und Überschreiben von Operatoren <br>
                    - Polymorphismus <br>
                    - Templates oder Generics <br>
                    - Klassenbibliotheken <br>
                    - Speicherverwaltung, Grundverständnis Garbage Collection
                </li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Besonderheiten</h4></center>
            <hr>
            <ul>
                <li>Dieses Modul beinhaltet zusätzlich bis zu 24h begleitetes Selbststudium in Form von Übungsstunden, Laboren oder Projekten. Hierbei werden Übungsaufgaben
                    und/oder vertiefende Aufgabenstellungen von den Studierenden bearbeitet.
                </li>
            </ul>
        </div>
        <div class="small_block" id="img_container_programmieren2"></div>
        <div class="small_block">
            <center><h4>Vorraussetzungen</h4></center>
            <hr>
            <b> --- </b>
        </div>
        <div class="middle_block">
            <center><h4>Literatur</h4></center>
            <hr>
            <ul>
                <li>B.W. Kerninghan, D.M Richie: Programmieren in C, Hanser</li>
                <li>R. Klima, S. Selberherr: Programmieren in C, Springer</li>
                <li>Prinz, Crawford: C in a Nutshell, O'Reilly</li>
                <li>Günster: Einführung in Java, Rheinwerk Computing</li>
                <li>Habelitz: Programmieren lernen mit Java, Rheinwerk Computing</li>
                <li>Ullenboom: Java ist auch eine Insel, Rheinwerk Computing</li>
                <li>McConnell: Code Complete: A Practical Handbook of Software Construction, Microsoft Press
                </li>
            </ul>
        </div>
    </div>
</main>
<footer>
    footer
</footer>
</body>

</html>