<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Modul-Theoretische Informatik</title>
    <link rel="stylesheet" href="../css/common-style.css">
    <link rel="stylesheet" href="../css/modules.css">
</head>

<body>
<header>
    <h1>Theoretische Informatik</h1>
</header>
<nav>
    <ul>
        <li><a href="../index.html">Startseite</a></li>
        <li><a href="../calendar/calendar.html">Kalender</a></li>
        <li><a href="../../../index.html">Module:</a>
            <ul>
                <li><a href="mathe.html">Mathe</a></li>
                <li><a href="theoretischeInformatik.html">Theoretische Informatik</a></li>
                <li><a href="programmieren.html">Programmieren</a></li>
                <li><a href="bwl.html">BWL</a></li>
                <li><a href="webEngineering.html">Web Engineering</a></li>
                <li><a href="elektrotechnik.html">Elektrotechnik</a></li>
            </ul>
        </li>
    </ul>
</nav>
<main>
    <aside>
        <h3>Nächstes Modul:</h3>
        <ul class="aside_list" id="module_list">
            <li>Modul1</li>
            <li>Modul2</li>
            <li>Modul3</li>
        </ul>
        <h3>Nächste Prüfung:</h3>
        <ul class="aside_list" id="exams_list">
            <li>Prüfung1</li>
            <li>Prüfung2</li>
            <li>Prüfung3</li>
        </ul>
        <h3>Weitere Infos:</h3>
        <ul class="aside_list" id="infos_list">
            <li>Info1</li>
            <li>Info2</li>
            <li>Info3</li>
        </ul>
    </aside>
    <div class="surr_block">
        <div class="small_block">
            <center><h4>Formale Angaben zum Modul</h4></center>
            <hr>
            <ul>
                <li><u>Modulnummer:</u><br>T3INF1002</li>
                <li><u>Verortung im Studienverlauf:</u><br>1. Studienjahr</li>
                <li><u>Moduldauer (Semester):</u><br>1</li>
                <li><u>Modulverantwortung:</u><br>Prof. Dr.rer.nat. Bernd Schwinn</li>
                <li><u>Sprache:</u><br>Deutsch</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Lehrformen</h4></center>
            <hr>
            <ul>
                <li><u>Lehrformen:</u><br>Vorlesung, Übung</li>
                <li><u>Lehrmethoden:</u><br>Lehrvortrag, Diskussion</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Prüfungsformen</h4></center>
            <hr>
            <ul>
                <li><u>Prüfungsleistung:</u><br>KLausurarbeit</li>
                <li><u>Prüfungsumfang (in Minuten):</u><br>Siehe Prüfungsordnung</li>
                <li><u>Benotung:</u><br>ja</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Workload und ECTS-Leistungspunkte</h4></center>
            <hr>
            <ul>
                <li><u>Workload insgesamt (in h):</u><br>150</li>
                <li><u>Davon Präsenzzeit (in h):</u><br>60</li>
                <li><u>Davon Selbststudium (in h):</u><br>90</li>
                <li><u>ECTS-Leistungspunkte:</u><br>5</li>
            </ul>
        </div>
        <div class="middle_block" id="img_container_theoretischeInformatik1">
        </div>
        <div class="big_block">
            <center><h4>Qualifikationsziele und Kompetenzen</h4></center>
            <hr>
            <ul>
                <li><u>Fachkompetenz:</u><br>Die Studierenden können die theoretischen Grundlagen der Aussage- und Prädikatenlogik verstehen. Die Studierenden verstehen die formale Spezifikation von
                    Algorithmen und ordnen diese ein. Die Studierenden beherrschen das Modell der logischen Programmierung und wenden es an.</li>
                <li><u>Methodenkompetenz:</u><br>Die Studierenden haben die Kompetenzen erworben, komplexere Unternehmensanwendungen durch abstraktes Denken aufzuteilen und zu beherrschen sowie
                    fallabhängig logisches Schließen und Folgern einzusetzen.</li>
                <li><u>Personale und soziale Kompetenz:</u><br> - </li>
                <li><u>Übergreifende Handlungskompetenz:</u><br>Die Studierenden haben mit Abschluss des Moduls die Kompetenz erworben, sich mit Fachvertretern und Laien über Fachfragen und Aufgabenstellungen in den
                    Bereichen Logik, logische Folgerung sowie Verifikation und abstraktes Denken auf wissenschaftlichem Niveau auszutauschen.
                </li>
            </ul>
        </div>
        <div class="big_block">
            <center><h4>Lerneinheiten und Inhalte</h4></center>
            <hr>
            <ul>
                <li><u>Lehr- und Lerneinheiten:</u><br>Grundlagen und Logik</li>
                <li><u>Präsenzzeit:</u><br>60</li>
                <li><u>Selbststudium:</u><br>90</li>
                <li><u>Inhalte:</u><br>
                    - Algebraische Strukturen: Relationen, Ordnung, Abbildung <br>
                    - Formale Logik: Aussagenlogik, Prädikatenlogik <br>
                    - Algorithmentheorie; Komplexität, Rekusion, Terminierung, Korrektheit (mit Bezug zur Logik) <br>
                    - Grundkenntnisse der deklarativen (logischen/funktionalen/....) Programmierung
                </li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Besonderheiten</h4></center>
            <hr>
            <b> --- </b>
        </div>
        <div class="small_block">
            <center><h4>Vorraussetzungen</h4></center>
            <hr>
            <b> --- </b>
        </div>
        <div class="small_block">
            <center><h4>Literatur</h4></center>
            <hr>
            <ul>
                <li>Siefkes, Dirk: Formalisieren und Beweisen: Logik für Informatiker, Vieweg</li>
                <li>Kelly, J.: The Essence of Logic, Prentice Hall</li>
                <li> Alagic, Arbib: The Design of Well-Structured and Correct Programs, Springer</li>
                <li>Clocksin, W.F.; Mellish, C.S.: Programming in Prolog, Springer</li>
            </ul>
        </div>
    </div>
</main>
<footer>
    footer
</footer>
</body>

</html>