<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Modul-Web Engineering</title>
    <link rel="stylesheet" href="../css/common-style.css">
    <link rel="stylesheet" href="../css/modules.css">
</head>

<body>
<header>
    <h1>Web Engineering</h1>
</header>
<nav>
    <ul>
        <li><a href="../index.html">Startseite</a></li>
        <li><a href="../calendar/calendar.html">Kalender</a></li>
        <li><a href="../../../index.html">Module:</a>
            <ul>
                <li><a href="mathe.html">Mathe</a></li>
                <li><a href="theoretischeInformatik.html">Theoretische Informatik</a></li>
                <li><a href="programmieren.html">Programmieren</a></li>
                <li><a href="bwl.html">BWL</a></li>
                <li><a href="webEngineering.html">Web Engineering</a></li>
                <li><a href="elektrotechnik.html">Elektrotechnik</a></li>
            </ul>
        </li>
    </ul>
</nav>
<main>
    <aside>
        <h3>Nächstes Modul:</h3>
        <ul class="aside_list" id="module_list">
            <li>Modul1</li>
            <li>Modul2</li>
            <li>Modul3</li>
        </ul>
        <h3>Nächste Prüfung:</h3>
        <ul class="aside_list" id="exams_list">
            <li>Prüfung1</li>
            <li>Prüfung2</li>
            <li>Prüfung3</li>
        </ul>
        <h3>Weitere Infos:</h3>
        <ul class="aside_list" id="infos_list">
            <li>Info1</li>
            <li>Info2</li>
            <li>Info3</li>
        </ul>
    </aside>
    <div class="surr_block">
        <div class="small_block">
            <center><h4>Formale Angaben zum Modul</h4></center>
            <hr>
            <ul>
                <li><u>Modulnummer:</u><br>T3INF4101</li>
                <li><u>Verortung im Studienverlauf:</u><br>1. Studienjahr</li>
                <li><u>Moduldauer (Semester):</u><br>1</li>
                <li><u>Modulverantwortung:</u><br>Prof. Dr. Rolf Assfalg</li>
                <li><u>Sprache:</u><br>Deutsch</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Lehrformen</h4></center>
            <hr>
            <ul>
                <li><u>Lehrformen:</u><br>Labor, Vorlesung, Übung</li>
                <li><u>Lehrmethoden:</u><br>Laborarbeit, Lehrvortrag, Diskussion</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Eingesetzte Prüfungsformen</h4></center>
            <hr>
            <ul>
                <li><u>Prüfungsleistung:</u><br>KLausurarbeit oder Kombinierte Prüfung</li>
                <li><u>Prüfungsumfang (in Minuten):</u><br>Siehe Prüfungsordnung</li>
                <li><u>Benotung:</u><br>ja</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Workload und ECTS-Leistungspunkte</h4></center>
            <hr>
            <ul>
                <li><u>Workload insgesamt (in h):</u><br>90</li>
                <li><u>Davon Präsenzzeit (in h):</u><br>48</li>
                <li><u>Davon Selbststudium (in h):</u><br>42</li>
                <li><u>ECTS-Leistungspunkte:</u><br>3</li>
            </ul>
        </div>
        <div class="middle_block" id="img_container1">
        </div>
        <div class="big_block">
            <center><h4>Qualifikationsziele und Kompetenzen</h4></center>
            <hr>
            <ul>
                <li><u>Fachkompetenz:</u><br>Die Studierenden setzen die erarbeiteten Theorien und Modelle in Bezug zu ihren Erfahrungen aus der beruflichen Praxis und können deren Grenzen und praktische
                    Anwendbarkeit einschätzen.</li>
                <li><u>Methodenkompetenz:</u><br>Die Studierenden sind mit Abschluss des Moduls in der Lage, für weitgehend standardisierte Anwendungsfälle in der Praxis die angemessene Methode auszuwählen
                    und anzuwenden. Sie kennen die Stärken und Schwächen der Methode in ihrem beruflichen Anwendungsfeld und können diese in konkreten Handlungssituationen
                    gegeneinander abwägen.</li>
                <li><u>Personale und soziale Kompetenz:</u><br>Die Studierenden können sowohl eigenständig, also auch im Team zielorientiert und nachhaltig handeln.</li>
                <li><u>Übergreifende Handlungskompetenz:</u><br> - </li>
            </ul>
        </div>
        <div class="big_block">
            <center><h4>Lerneinheiten und Inhalte</h4></center>
            <hr>
            <ul>
                <li><u>Lehr- und Lerneinheiten:</u><br>Web-Engineering 1</li>
                <li><u>Präsenzzeit:</u><br>36</li>
                <li><u>Selbststudium:</u><br>39</li>
                <li><u>Inhalte:</u><br>
                    - Einführung in HTML und CSS in der aktuellen Version. <br>
                    - Grundlagen der Internetprotokolle und ihre zugehörigen Technologien. <br>
                    - Betrachtung einer Client-Programmiersprache und/oder einer oder mehrerer serverseitig
                    eingesetzten Programmiersprache. <br>
                    - Optional: Dokumentauszeichnungssprache XML <br>
                    - Optional: Spezielle Dokumenttypen zur Darstellung von 2D oder 3D-Grafik. <br>
                    - Optional: Grundlagen der Mediengestaltung, soweit nicht bereits in anderen Modulen
                    abgedeckt. <br>
                </li>
            </ul>
        </div>
        <div class="middle_block">
            <center><h4>Lerneinheiten und Inhalte</h4></center>
            <hr>
            <ul>
                <li><u>Lehr- und Lerneinheiten:</u><br> Labor Webengineering 1</li>
                <li><u>Präsenzzeit:</u><br>12</li>
                <li><u>Selbststudium:</u><br>3</li>
                <li><u>Inhalte:</u><br>
                    - Praktische Übungen zu HTML-Grundlagen - Praktische Übungen zu den/der im Rahmen der
                    Vorlesung eingeführten Programmiersprache/EN
                </li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Besonderheiten</h4></center>
            <hr>
            <ul>
                <li>Die Prüfungsdauer bezieht sich auf die Klausur.</li>
            </ul>
        </div>
        <div class="small_block">
            <center><h4>Vorraussetzungen</h4></center>
            <hr>
            <b> --- </b>
        </div>
        <div class="small_block" id="img_container2"></div>
        <div class="small_block">
            <center><h4>Literatur</h4></center>
            <hr>
            <ul>
                <li>www.w3c.org</li>
                <li>wiki.selfhtml.org</li>
                <li>www.w3c.org de.selfhtml.org</li>
            </ul>
        </div>
    </div>
</main>
<footer>
    footer
</footer>
</body>

</html>